<nav class="navbar navbar-light bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/team">Team</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
