<input [(ngModel)]="query" (ngModelChange)="findUser(query)" placeholder="Search for Users">
<table>
    <th *ngFor="let title of titles">{{title}}</th>

    <tr *ngFor="let user of usersDisplay" >
        <td>
            {{user.login}}
        </td>
        <td>
            {{user.url}}
        </td>
        <td>
            {{user.id}}
        </td>
        <td>
            {{user.node_id}}
        </td>
        <td>
            <img class="ava-img" src="{{user.avatar_url}}"  alt="">
        </td>

    </tr>
</table>

<!-- <div class="second-table" *ngIf="user.name">
    <button class="table-btn" (click)=hideAllData()>Close</button>
    <h2>All information for {{user.name}} </h2>
    <p>name:{{user.name}} </p>
    <p>url:{{user.url}}</p>
    <p>date:{{user.date}}</p>
    <p>place:{{user.place}}</p>
    <p>course:{{user.course}}</p>
</div> -->

<!-- {{ hello }} -->
